[Desktop Entry]
Name=Marker
GenericName=Markdown Editor
Comment=A simple markdown editor for GTK+
Categories=GTK;Utility;
Exec=marker %u
Icon=com.github.fabiocolacio.marker
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=marker
Keywords=marker;markdown;editor;web;
Name[en_US]=Marker
MimeType=text/x-markdown;
