@charset "UTF-8";
a[href^="#"] {
  color: inherit;
  content: target-counter(attr(href, url), reference);
  text-decoration: none; }
  a[href^="#"]::before {
    content: "["; }
  a[href^="#"]::after {
    content: "]"; }
  a[href^="#"].section {
    content: target-counter(attr(href, url), section); }
    a[href^="#"].section::before {
      content: ""; }
    a[href^="#"].section::after {
      content: ''; }
  a[href^="#"].subsection {
    content: target-counter(attr(href, url), section) "." target-counter(attr(href, url), subsection); }
    a[href^="#"].subsection::before {
      content: ""; }
    a[href^="#"].subsection::after {
      content: ''; }
  a[href^="#"].subsubsubsection {
    content: target-counter(attr(href, url), section) "." target-counter(attr(href, url), subsection) "." target-counter(attr(href, url), subsubsection) "." target-counter(attr(href, url), subsubsubsection); }
    a[href^="#"].subsubsubsection::before {
      content: ""; }
    a[href^="#"].subsubsubsection::after {
      content: ''; }
  a[href^="#"].figure {
    content: target-counter(attr(href, url), figure); }
    a[href^="#"].figure::before {
      content: "Figure "; }
    a[href^="#"].figure::after {
      content: ''; }
  a[href^="#"].table {
    content: target-counter(attr(href, url), table); }
    a[href^="#"].table::before {
      content: "Table "; }
    a[href^="#"].table::after {
      content: ''; }

body {
  column-count: 2;
  column-gap: balance;
  column-gap: 0.33in;
  font-family: "Times New Roman", Times, serif;
  hyphens: none;
  max-width: 210mm;
  margin: auto;
  text-align: justify; }
  body > :first-child {
    counter-reset: page 1; }

caption {
  caption-side: bottom;
  font-weight: bold;
  margin: 0.667em 0 0; }
  caption::before {
    content: "Table " counter(table) ". "; }

cite {
  break-inside: avoid;
  counter-increment: reference;
  display: block;
  font-style: normal;
  margin-left: 2.5em;
  position: relative;
  text-align: left; }
  cite::before {
    content: "" counter(reference) ".";
    display: inline-block;
    margin-left: -2.5em;
    position: absolute; }
  cite a {
    text-decoration: none; }

code {
  font-family: Courier, monospace;
  font-size: 9pt;
  font-weight: 400;
  white-space: nowrap; }

figure {
  counter-increment: figure;
  margin: 1em 0 2.333em;
  text-align: center; }

figcaption {
  font-weight: bold; }
  figcaption::before {
    content: "Figure " counter(figure) ". "; }

h1,
h2,
h3,
h4,
h5,
h6 {
  break-after: avoid;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  hyphens: none; }

h1 {
  font-size: "font-size-h1"; }

h2 {
  font-size: "font-size-h2"; }

h3 {
  font-size: "font-size-h3"; }

h4 {
  font-size: "font-size-h4"; }

h5 {
  font-size: "font-size-h5"; }

h6 {
  font-size: "font-size-h6"; }

html {
  font-size: 10pt; }

p {
  line-height: 1.17;
  margin: 0 0 0.667em;
  text-indent: 0; }

q::before {
  content: '“'; }

q::after {
  content: '”'; }

q > q::before {
  content: '‘'; }

q > q::after {
  content: '’'; }

small {
  font-size: 8pt; }

table {
  border-collapse: collapse;
  counter-increment: table;
  margin: 1em 0;
  width: 100%; }

th,
td {
  border: 2px solid #000;
  padding: 0.333em;
  text-align: center; }

.footnote {
  counter-increment: footnote;
  float: prince-column-footnote;
  margin-left: .333em;
  padding-left: .667em; }
  .footnote:footnote-call {
    content: counter(footnote);
    font-size: 66%;
    line-height: none;
    vertical-align: super; }
  .footnote:footnote-marker {
    content: counter(footnote);
    font-size: 66%;
    footnote-style-position: inside; }

@page {
  escape("@")footnotes {
    border-top: 0.5px solid #000;
    columns: 2;
    margin-top: 2em;
    padding-top: 1em; }
  size: 8.5in 11in;
  margin: 0.85in 0.75in 1in 0.75in; }

.cites > :not(:first-child)::before {
  content: none; }

.cites > :not(:last-child)::after {
  content: ", "; }

.col-1 {
  column-count: 1; }

.col-2 {
  column-count: 2; }

.col-3 {
  column-count: 3; }

.col-4 {
  column-count: 4; }

.col-span {
  column-span: all; }

.col-break-after {
  break-after: always; }

.col-break-before {
  break-after: always; }

.counter-skip h1::before,
.counter-skip h2::before,
.counter-skip h3::before,
.counter-skip h4::before,
.counter-skip h5::before,
.counter-skip h6::before {
  content: "" !important;
  margin-right: 0 !important; }

.page-break-after {
  break-after: always; }

.page-break-before {
  break-after: always; }

h1,
h2,
h3,
h4,
h5 {
  margin: 1.333em 0 0; }

h1 {
  text-transform: uppercase; }

h3 {
  font-style: italic;
  font-weight: normal; }

header {
  margin-bottom: 1em; }
  header h1 {
    font-size: 18pt;
    margin: 0 0 3pt;
    text-align: center;
    text-transform: none; }
  header h2 {
    font-size: 12pt;
    font-weight: normal;
    margin: 18pt 0;
    text-align: center; }

ul,
ol {
  margin-left: 2em; }

li {
  margin-bottom: .667em;
  margin-left: -.333em; }

.authors {
  column-gap: 0; }
  .authors + .authors {
    margin-top: .667em; }

.author {
  break-inside: avoid;
  column-break-after: always;
  font-size: 12pt;
  text-align: center; }
  .author > :first-child {
    font-weight: bold; }

.copyright {
  float: column-bottom;
  font-size: 8pt;
  height: 1.5in; }
  .copyright > * {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 3.333in; }
  .copyright li {
    margin-bottom: 0; }

caption,
figcaption {
  font-size: 9pt; }
