table.eq_table {
	border-collapse: collapse;
 	border: 0;
	width: 100%;
}
table.eq_table td, table.eq_table th {
	border: 0;
}
table.eq_table tfoot td {
 	border: 0;
}
table.eq_table tfoot .links {
 	text-align: right;
}

td.counter {
	text-align: right;
	border: 0;
}

td.eq_code {
	width: 100%;
	border: 0;
	text-align: center;
}

figure {
	width: 100%;
	text-align: center;
}

figure figcaption {
	text-align: center;
	font-size: 11pt;
}

figure img {
	max-width: 100%;
}

img {
	max-width: 100%;
}

.authors
{
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
}

.affiliation
{
	text-align: center;
}


.title
{
	text-align: center;
	margin-bottom: 5pt;
}

.header{
  margin-bottom: 20pt;
}
